*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}
.container{
    width: 500px;
    height: 530px;
    overflow: hidden;
    box-shadow: 2px, 2px, 5px, #00000031;
}
.img-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-500px);
}
.buttons-container{
    display: flex;
    justify-content: space-between;

}
button{
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    width: 49%;

}
button:nth-child(2){
    background-color: blue;
}
img{    
    width: 500px;
    height: 500px;
}